body {
    background: url("./bg1.webp");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Comic Sans MS", cursive, sans-serif; 
    cursor: url('./icons/pointer.png'), auto; 
}

#yestbtn {
    background-color: green; 
    color: aliceblue;  
    border-radius: 10px; 
    border: none; 
    font-size: 35px; 
    margin-right: 18px; 
    padding: 10px;
    box-shadow: 3px 3px 15px 8px lightgreen
}

#nobtn {
    background-color: red; 
    color:aliceblue; 
    border-radius: 10px;
    border: none; 
    font-size: 35px; 
    margin-left: 18px; 
    padding: 10px;
    box-shadow: 3px 3px 15px 8px lightcoral
}

#yesans{
    text-align: center;
}